@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

.input-field {
  @apply w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition;
}

.scrollbar-hidden {
  overflow-y: auto;
  /* Enables vertical scrolling when needed */
  scrollbar-width: 10px;
  /* Hides scrollbar in Firefox */
  -ms-overflow-style: none;
  /* Hides scrollbar in IE and Edge */

  /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --color-primary: #your-primary-color;
}

.text-primary {
  color: var(--color-primary);
}